---
---

<div class="mt-8 giscus-container">
  <script
    src="https://giscus.app/client.js"
    data-repo="abdulkareemakn/blog"
    data-repo-id="R_kgDOSMO_1w"
    data-category="Announcements"
    data-category-id="DIC_kwDOSMO_184C78w-"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</div>
